.progress-circle {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotate(-90deg);
  top: 0;
  left: 0;
  overflow: visible;
}

.circle {
  fill: #000;
  position: relative;
}

.seconds {
  font-size: 38px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front {
  fill: #000;
}
